<%- include("partials/header") %>

<div class="jumbotron centered">
    <div>
        <i class="fa-solid fa-key fa-6x"></i>
        <h1>Secrets</h1>
        <p>Don't keep your secrets, share them anonymously!</p>
        <hr>
        <a href="/register" role="button" class="btn btn-light">Register</a>
        <a href="/login" role="button" class="btn btn-dark">Login</a>
    </div>
    </p>
</div>


<%- include("partials/footer") %>