<%- include("partials/header") %>
<div class="input-cont">
    <h1 class="text-center mb-4">Register</h1>
    <form class="input-form" action="/register" method="post">
        <div class="form-group mb-3">

            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email" name="username">
        </div>
        <div class="form-group mb-3">

            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                   name="password">
        </div>
        <div class="singup-buttons">
            <button style="width: 100%" type="submit" class="btn btn-dark">Register</button>
            <div class="h-line">
                <span class="line"></span>
                <span>Or</span>
                <span class="line"></span>
            </div>

            <a href="/auth/google" role="button"
               style=" text-align:center;width: 100%;color:black;text-decoration: none; border:none;background-color: white;"><i
                        class="fa-brands fa-google"></i>
                Sign up with Google
            </a>
        </div>

    </form>
</div>
<%- include("partials/footer") %>