<%- include("partials/header") %>
<div class="container">
    <div class="header my-5">
        <h1 class="display-4 text-center"><i class="me-2 fa-solid fa-key "></i>You've Discovered All Secrets!</h1>
        <a href="/logout" class="btn btn-dark logout-button"><i class="me-2 fa-solid fa-arrow-right-from-bracket"></i>Log
            Out</a>
    </div>


    <div class="secret-container">
        <% usersWithSecrets.forEach((secret) => { %>
            <div class="secret-content">
                <p><%= secret.secretContent %></p>
            </div>
        <% }) %>
    </div>
    <a href="/submit" class="btn btn-dark add-button btn-lg"><i class="fa-solid fa-plus"></i></a>

    <!--<hr class="my-4">
    <a href="/logout" class="btn btn-light" role="button">Log Out</a>
    <a href="/submit" class="btn btn-dark" role="button">Submit a Secret</a>-->
</div>


<%- include("partials/footer") %>