<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid centered">
    <div class="container">
        <i class="fa-solid fa-key fa-6x"></i>
        <h1 class="display-4">You've Discovered My Secret!</h1>
        <p class="lead text-bg-dark">I like watching Tiktok videos.</p>
        <hr class="my-4">
        <a href="/logout" class="btn btn-light" role="button">Log Out</a>
        <a href="/submit" class="btn btn-dark" role="button">Submit a Secret</a>
    </div>
</div>


<%- include("partials/footer") %>